body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
		BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
	background-color: #e9ebee;
}

* {
  box-sizing: border-box;
}

.header ul {
  list-style: none;
  background-color: black;
  color: lightgray;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
}

.header li {
  padding: 15px 0;
}

.main {
  display: flex;
  justify-content: start;
  padding-top: 50px;
}

.asider {
  margin: 20px 40px;
}

.about-box {
  width: 200px;
  padding: 20px 10px;
  background-color: #eeeeee;
  margin: 10px 20px;
}

.asider-title {
  font-style: italic;
}

.archives-box {
  width: 200px;
  padding: 20px 10px;
  margin: 10px 20px;
}

.archives-content {
  list-style: none;
  padding: 0;
}

.main-cotent {
  margin: 20px 0;
  max-width: 1250px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.article {
  width: 600px;
  border: 2px solid lightgray;
  margin: 10px;
}

.article-content {
  margin: 0;
}

.article-image {
  width: 596px;
}

.article-describe {
  margin: 0 10px;
}

.article-more {
  color: blue;
}

.login-content {
  width: 230px;
  text-align: center;
  align-items: center;
  background-color: #eeeeee;
  position: fixed;
  right: 5%;
  top: calc(calc(100% - 162px)/2 - 43px + 50px);
  padding: 20px 0;
}

.email {
  border: 1px solid lightgray;
  border-bottom: 0px;
  padding: 8px;
  border-radius: 5px 5px 0 0;
}

.password {
  border: 1px solid lightgray;
  padding: 8px;
  border-radius: 0 0 5px 5px;
}

.checkbox {
  margin: 5px 0 10px 0;
}

.sign-in {
  font-size: medium;
  width: 187px;
  color: white;
  background-color: cornflowerblue;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}
