body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
		BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
	background-color: #e9ebee;
}

* {
  box-sizing: border-box;
}

.header ul {
  list-style: none;
  background-color: black;
  color: lightgray;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
}

.header li {
  padding: 15px 0;
}

.main {
  display: flex;
  justify-content: start;
}

.asider {
  margin: 20px 40px;
}

.about-box {
  width: 200px;
  padding: 20px 10px;
  background-color: #eeeeee;
  margin: 10px 20px;
}

.asider-title {
  font-style: italic;
}

.archives-box {
  width: 200px;
  padding: 20px 10px;
  margin: 10px 20px;
}

.archives-content {
  list-style: none;
  padding: 0;
}

.main-cotent {
  margin: 20px 0;
  max-width: 740px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.article {
  width: 350px;
  border: 2px solid lightgray;
  margin: 10px;
}

.article-content {
  margin: 0;
}

.article-image {
  width: 348px;
}

.article-describe {
  margin: 0 10px;
}

.article-more {
  color: blue;
}
