body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
		BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
	background-color: #e9ebee;
}

* {
  box-sizing: border-box;
}

.header ul {
  list-style: none;
  background-color: black;
  color: lightgray;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.header li {
  padding: 15px 0;
}

.asider {
  margin: 20px 40px;
}

.about-box {
  width: 200px;
  padding: 20px 10px;
  background-color: #eeeeee;
  margin: 10px 20px;
}

.asider-title {
  font-style: italic;
}

.archives-box {
  width: 200px;
  padding: 20px 10px;
  margin: 10px 20px;
}

.archives-content {
  list-style: none;
  padding: 0;
}
